/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.home{
  padding-top: 2rem;
}

.HomeCard-img{
  object-fit: contain;
  height: 160px;
  padding: 1rem;
}

.HomeCard-description{
 height: 170px;
 border-top: 1px solid #cecece;
}

.navbar{
  display: flex;
  
}

.carousel-control-next-icon{
  background-color: #137ea7;
  border-radius: 50%;
}

.carousel-control-prev-icon{
  background-color: #137ea7;
  border-radius: 50%;
}

.suggestedimg{
  padding: 1rem;
}

.ProductDetailPage{
  padding-top: 5rem;
}

.loginForm{
  padding-top: 4rem;
}

.cart{
  display: flex 1 1;
  list-style: none;
  margin-bottom: 20px;
  font-size: 13px;

}

.cart-products-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-bottom: 60px;
  gap: 5px;
}

.cart-img{
  height: 70px;
  object-fit: contain;
  width: 70px;
}

.cart-button{
  color: #137ea7;
  cursor: pointer;
  border: none;
  background: none;
}

.cart-description{

}



